.Logo {
    text-align: center;
    font-family: "Lucida Handwriting";
    font-size: 7vw;
    color: #f5f2f0;
}

.Logo2 {
    text-align: center;
    font-family: "Lucida Handwriting";
    font-size: 1vw;
    color: #f5f2f0;
}
